textarea {
    display: block;
    resize: none;
    width: 50%;
    height: 10rem;
}

#threadHeader {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 3rem;
}

#threadHeader h1 {
    margin: 0;
}