@model IEnumerable<Board>;

<h1>Tavlor</h1>
@foreach (var item in Model) {
    <div style="background-color: green; color: white; border-radius: 15px; padding: 20px; ">
        <h3>@item.Name</h3>
        <a asp-route-id="@item.Id" style="color: white;">Visa</a>
    </div>
}