@model ExampleForum.Models.Views.TestModel;

<select asp-items="Model.GetNameList()">
    <option value="">Välj ett namn</option>
</select>

<label asp-for="Names">

</label>

@switch (1337)
{
    case 1:
        <p>The value is 1!</p>
        break;
    case 1337:
        <p>Your number is 1337!</p>
        break;
    default:
        <p>Your number wasn't 1 or 1337.</p>
        break;
}
