.postInfo {
    background-color: lightcyan;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 20px;
}

.postActions {
    margin-top: 20px;
    font-size: 20px;
}

a {
    cursor: pointer;
    font-size: 30px;
}

textarea {
    resize: none;
    width: 30%;
    height: 5rem;
}