@model ExampleForum.Models.View.CreateThreadViewModel;

<div>
    <form method="post">
        <input type="text" name="Title" style="padding: 10px; width: 100%" placeholder="Trådens titel" />
        <div style="margin-top: 20px">
        <textarea name="Content" cols="60" rows="8" autocomplete="off"></textarea><br />
        <input type="submit" value="Skapa tråd" />
        </div>
    </form>
</div>